@import "syntaxhighlighter";
@import url('https://fonts.googleapis.com/css?family=Francois+One');
//
@mixin break ($width: 768px){
  @media screen and (max-width: $width) {
    @content;
  }
}
body {
    font-family: 'Francois One', sans-serif;
    padding: 0;
    margin: 0;
    
}
.container {
    box-shadow: inset -100px -350px 120px rgba(153, 151, 197, 0.1);
}
label {
    margin: 10px;
    display: inline-block;
}
div {
    box-sizing: border-box;
}
.left,.right {
    display: block;
}
.left {
    max-width: 400px;
    float: left;
    @include break(420px) {
        max-width: 100vw;
    }
}
.right {
    max-width: 50%;
    padding: 10%;
    float: right;
    @include break(420px) {
        max-width: 100%;
        float: left;
    }
}
#sprite {
    max-width: 100%;
}
h1 {
    span {
        font-size: 15px;
    }
}
footer {
    clear: both;
    padding: 10px;
}
.loader_fader {
    background: rgba(255, 255, 255, 0.2);
    z-index: 9998;
    position: absolute;
    left: 0px;
    top: 0px;
}
.loader_container {
    margin: 10%;
    position: absolute;
    z-index: 9999;
    left: 0px;
    top: 0px;
}
#wm_show_fps {
    background: #000;
    z-index: 9999;
    width: 100px;
    height: 80px;
    position: absolute;
    color: #ffff00;
    right: 0;
    top: 0;
    padding: 5px;
    display: none;
    &.show {
        display: block;
    }
}
/* Main Page */
.wes_main {
    pre {
        font: 10px/4px monospace;
        @include break(1440px) {
            font: 8px/3px monospace;
        }
        @include break(769px) {
            overflow: hidden;
        }
        @include break(420px) {
            font: 4px/1px monospace;  
        }
    }
    h1 {
        display: block;
        box-shadow: inset 100px 200px 120px rgba(153, 151, 197, 0.1);
        margin: 0;
        padding: 20px;
    }
    .right {
            background: #fff;
            //border-radius: 15px;
            box-shadow: inset -90px -165px 120px rgba(153, 151, 197, 0.1);
            //border: solid 1px #c1c1c1;
     
    }
}